body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }

  #login-form {
    background-color: #fff;
    border: 1px solid #ddd;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
  }

  h1 {
    text-align: center;
    font-size: 28px;
    color: cadetblue;
  }

  label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
  }

  input[type="text"],
  input[type="password"] {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border-radius: 50px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding-right: 1px;

  }

  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 100px;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }

  .error {
    color: red;
    margin-bottom: 20px;
  }